<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.computerAssembly.dao.ComputerPartMapper" >
  <resultMap id="BaseResultMap" type="group.computerAssembly.entity.ComputerPart" >
    <constructor >
      <idArg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cpu_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cpud_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="mem_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="power_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="vga_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, cpu_id, cpud_id, mem_id, power_id, vga_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="group.computerAssembly.entity.ComputerPartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from computer_part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from computer_part
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from computer_part
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="group.computerAssembly.entity.ComputerPart" >
    insert into computer_part (user_id, cpu_id, cpud_id, 
      mem_id, power_id, vga_id, 
      create_time)
    values (#{userId,jdbcType=VARCHAR}, #{cpuId,jdbcType=INTEGER}, #{cpudId,jdbcType=INTEGER}, 
      #{memId,jdbcType=INTEGER}, #{powerId,jdbcType=INTEGER}, #{vgaId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="group.computerAssembly.entity.ComputerPart" >
    insert into computer_part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cpuId != null" >
        cpu_id,
      </if>
      <if test="cpudId != null" >
        cpud_id,
      </if>
      <if test="memId != null" >
        mem_id,
      </if>
      <if test="powerId != null" >
        power_id,
      </if>
      <if test="vgaId != null" >
        vga_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cpuId != null" >
        #{cpuId,jdbcType=INTEGER},
      </if>
      <if test="cpudId != null" >
        #{cpudId,jdbcType=INTEGER},
      </if>
      <if test="memId != null" >
        #{memId,jdbcType=INTEGER},
      </if>
      <if test="powerId != null" >
        #{powerId,jdbcType=INTEGER},
      </if>
      <if test="vgaId != null" >
        #{vgaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.computerAssembly.entity.ComputerPart" >
    update computer_part
    <set >
      <if test="cpuId != null" >
        cpu_id = #{cpuId,jdbcType=INTEGER},
      </if>
      <if test="cpudId != null" >
        cpud_id = #{cpudId,jdbcType=INTEGER},
      </if>
      <if test="memId != null" >
        mem_id = #{memId,jdbcType=INTEGER},
      </if>
      <if test="powerId != null" >
        power_id = #{powerId,jdbcType=INTEGER},
      </if>
      <if test="vgaId != null" >
        vga_id = #{vgaId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.computerAssembly.entity.ComputerPart" >
    update computer_part
    set cpu_id = #{cpuId,jdbcType=INTEGER},
      cpud_id = #{cpudId,jdbcType=INTEGER},
      mem_id = #{memId,jdbcType=INTEGER},
      power_id = #{powerId,jdbcType=INTEGER},
      vga_id = #{vgaId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>